* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}

body {
	background: #333 url(bg.jpg) 50% 0;
	/*adding-top: 30px;*/
	font-family: "Ruda", sans-serif;
	color: #fff;
}

#clock {
	font-family: "Ubuntu", sans-serif;
	color: #fff;
	background: rgba(0, 0, 0, 0.45);
	font-size: 1.8em;
	padding: 5px 7px;
	border-bottom: 1px solid #000;
	width: 97%;
	border: 2px solid #000;
	border-top: none;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
	margin: auto;
	margin-bottom: 20px;
	font-weight: bold;
}

.day {
	background-color: transparent;
	margin: auto;
	width: 95%;
	border: 2px solid #000;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	margin-bottom: 20px;
}

.day .heading {
	font-family: "Ubuntu", sans-serif;
	background: rgba(0, 0, 0, 0.65);
	padding: 5px 10px;
	font-size: 1.8em;
	display: inline-block;
	border-bottom: 1px solid #000;
	width: 100%;
}

.day .events {
	background: rgba(0, 0, 0, 0.45);
	padding: 5px 0 0 0;
	overflow: hidden;
	width: 100%;
}

.events .events-inner {
	clear: both;
	margin: 0 10px;
	margin-bottom: 5px;
	font-size: 1.5em;
	overflow: hidden;
}

.day .time {
	width: 150px;
	text-align: center;
	float: left;
	margin-right: 20px;
	background-color: #ccc;
	border-radius: 5px;
	color: #000;
}

.darken .time {
	color: #222;
	background: rgba(204, 204, 204, 0.30);
}

.darken .event {
	color: #888;
}

.highlight .event{
	color: #ff0;
}

.darken.highlight .event {
	color: #ff7;
}

.error {
	color: #C32;
}

#loader {
	background: url(loader.gif) 3px 50% no-repeat #ddd;
	color: #000;
	border-radius: 3px 0 0 0;
	min-width: 56px;
	height: 25px;
	float: right;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#loader span {
	display: inline-block;
	margin-top: 2px;
	margin-left: 61px;
	margin-right: 3px;
}
